Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -modernize-use-designated-initializers,
  -modernize-use-ranges

WarningsAsErrors: >
  bugprone-*,
  modernize-use-override,
  performance-fast-math-unreliable

HeaderFilterRegex: '^.*/(src|include)/.*'
FormatStyle: file
SystemHeaders: false